body {
    margin: 0;
    padding: 0;
}
#app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    align-items: stretch;
    height: 100vh;
}

#sidebar {
    width: 200px;
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#sidebar h2 {
    /* ... */
    color: #fff;
    font-size: 18px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    /* ... */
    padding: 8px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

#sidebar li:hover {
    background-color: #326e34;
}

#chat-container {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
}

#chat-header {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

#chat-messages {
    padding: 20px;
    flex: 1;
    overflow: hidden;
    max-height: 100%;
    overflow-y: scroll;
}

.status-button{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.status-button button{
    border-color: transparent;
    color: #fff;
    background-color: #4caf50;
    max-width: 65px;
    max-height: 65px;
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: -57px;
    right: 25px;
}

.message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message .user {
    font-weight: bold;
    margin-right: 5px;
}

.message .content {
    padding: 10px;
    border-radius: 10px;
}

.message.you .content {
    background-color: #ffcc80;
}

.message.other .content {
    background-color: #7be383;
}

#message-input {
    width: auto;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    outline: none;
}

#send-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    border-top: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
}

@media only screen and (max-width: 800px) {
    #app {
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        box-shadow: none;
        padding: 0;
    }
    
    #chat-container {
        max-width: 100%;
    }
}
@media only screen and (min-width: 1081px) {
    #chat-messages {
        padding: 20px 150px;
    }
}