body,* {
    margin: 0;
    padding: 0;
}
#app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    align-items: stretch;
    height: 100vh;
    width: 100%;
}


#chat-container {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#chat-header {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

#chat-messages {
    padding: 20px 20px 50px;
    flex: 1;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    overflow-y: scroll;
}

.status-button{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    right: 20px;
    height: 90px;
    flex-wrap: nowrap;
    button{
        border-color: transparent;
        color: #fff;
        background-color: #4caf50;
        max-width: 65px;
        max-height: 65px;
        min-width: 40px;
        min-height: 40px;
        padding: 5px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 5px;
        cursor: pointer;
    }
}

#more-button{
    border-color: transparent;
    color: #fff;
    background-color: #4caf50;
    max-width: 65px;
    max-height: 65px;
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    right: 25px;
    top: 0;
    cursor: pointer;
}

.message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    .user {
        font-weight: bold;
        margin-right: 5px;
    }
    .avatar {
        width: 40px;
        position: absolute;
        top: 23px;
        border-radius: 5px;
    }
    .content {
        padding: 10px;
        border-radius: 10px;
        position: relative;
        left: 45px;
        max-width: calc(100% - 45px);
        word-wrap: break-word;
    }
    &.you {
        .content {
            background-color: #ffcc80;
            /* background-color:transparent; */
        }
        .edit-mode textarea{
            background-color: #ffcc80;
        }
    }
    &.other {
        .content {
            background-color: #7be383;
            /* background-color:transparent; */
        }
        .edit-mode textarea{
            background-color: #7be383;
        }
    }
}

.context-menu {
    /* display: none; */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.context-menu-item {
    padding: 8px;
    cursor: pointer;
}
.context-menu-item:hover{
    background-color: #4caf50;
    color: #fff;
}
.edit-mode {
    /* border: 1px solid #ccc; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 45px;
    width: calc(100% - 45px);
    height: auto;
}
.edit-mode .edit-mode-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
}
.edit-mode .edit-mode-btn button{
    align-items: center;
    border-color: transparent;
    border-radius: 0.5rem;
    border-width: 1px;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    pointer-events: auto;
    margin: 10px;
}
.edit-mode .edit-mode-btn .save{
    background-color: rgba(16,163,127,1);
    color: rgba(255,255,255,1);
}
.edit-mode .edit-mode-btn .cancel{
    border-color: rgba(0,0,0,.1);
}
.edit-mode textarea{
    padding: 10px;
    border-radius: 10px;
    background-color: #7be383;
    font-family: auto;
    font-size: 1rem;
    resize: none;
    outline: none;
    display: inline-block;
    overflow-y: hidden;
    width: calc(100% - 20px);
    border:none;
    text-decoration: none;

}
#message-input {
    width: auto;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    outline: none;
}

#send-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    border-top: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
}
#send-button.disabled{
    background-color: #ccc;
}

#more-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    .bg{
        background-color: #ffffff67;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        backdrop-filter: blur(2px);
    }
    .popup{
        z-index: 3;
        background-color:#fff;
        width: calc(100% - 75px);
        max-width: 700px;
        max-height: 100vh;
        border-radius: 26px;
        overflow: hidden;
        box-shadow: 0px 1px 17px #ccc;
        position: relative;
        .pop-more{
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: space-between;
            align-items: stretch;
            .btn{
                width: 50%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                font-size: x-large;
                min-height: 80px;
                user-select: none;
                cursor: pointer;
                &.user{
                    color: rgb(94, 159, 161);
                    /* transition: 1s all ease-in-out; */
                    &:hover{
                        background-color: rgb(94, 159, 161);
                        color: #fff;
                    }   
                }
                &.persona{
                    color: #e69175;
                    &:hover{
                        background-color: #e69175;
                        color: #fff;
                    }
                }
                &.download{
                    color: #326e34d9;
                    &:hover{
                        background-color: #326e34d9;
                        color: #fff;
                    }
                }
                &.upload{
                    color: rgba(16,163,127,1);
                    &:hover{
                        background-color: rgba(16,163,127,1);
                        color: #fff;
                    }
                }
            }
        }
        .pop-user{
            min-height: 160px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: center;
            .user{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 18px;
                .name{
                    line-height: 38px;
                    font-size: 20px;
                    display: flex;
                    align-content: center;
                    flex-wrap: nowrap;
                    align-items: center;
                    margin-top: 15px;
                    & label{
                        min-width: 45px;
                        text-align: end;
                        margin-right: 10px;
                    }
                    & input{
                        width: 160px;
                        height: 38px;
                        font-size: large;
                        letter-spacing: 0.15px;
                        border: none;
                        outline: none;
                        background-color: #ecf0f3;
                        transition: 0.25s ease;
                        border-radius: 8px;
                        text-align: center;
                    }
                }
                .avatar{
                    line-height: 38px;
                    font-size: 20px;
                    display: flex;
                    align-content: center;
                    flex-wrap: nowrap;
                    align-items: center;
                    & label{
                        min-width: 45px;
                        text-align: end;
                        margin-right: 10px;
                    }
                    & img{
                        width: 40px;
                        margin-left: calc(50% - 50px);
                        border-radius: 5px;
                    }
                }
            }
        }
        .pop-persona{
            min-height: 160px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            position: relative;
            .persona{
                margin-bottom: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                width: calc(100% - 40px);
                .user{
                    font-weight: bold;
                    margin-right: 5px;
                }
                .avatar{
                    width: 40px;
                    position: absolute;
                    top: 23px;
                    border-radius: 5px;
                }
                .content{
                    padding: 10px;
                    border-radius: 10px;
                    background-color: rgb(123, 227, 131);
                    font-family: auto;
                    font-size: 1rem;
                    outline: none;
                    display: inline-block;
                    overflow-y: hidden;
                    width: calc(100% - 90px);
                    border: none;
                    text-decoration: none;
                    left: 45px;
                    position: relative;
                    height: 103px;
                }
            }
            .coordinate{
                position: relative;
                width: 185px;
                height: 165px;
                padding: 0px;
                margin: 0px;
              
              #coordinate-system {
                position: absolute;
                width: 120px;
                height: 120px;
                border: 1px solid #ccc;
                margin: 30px;
                padding: 0px;
                border-radius: 10px;
                background-image: url(/static/img/coordinate.png);
                background-size: cover;
                top: 0;
              }
          
              #draggable-point {
                position: absolute;
                width: 20px;
                height: 20px;
                padding: 0px;
                margin: 0px;
                background-color: white;
                border-radius: 50%;
                box-shadow: 0 0 7px #469905;
              }
              #coordinate-bg{
                position: relative;
                width: 185px;
                height: 165px;
                margin: 0px;
                padding: 0px;
                user-select: none;
                .l{
                  position: absolute;
                  font-size: 20px;
                  width: 50px;
                  top: 6px;
                  left: 16px;
                  color: aquamarine;
                }
                .r{
                  position: absolute;
                  font-size: 20px;
                  width: 40px;
                  right: 20px;
                  bottom: 6px;
                  color: bisque;
                }
                .x{
                  display: flex;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  align-items: center;
                  flex-direction: row;
                  height: 100%;
                }
                .y{
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  align-items: center;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                }
            }
            }
            .explain{
                display: flex;
                flex-direction: row;
                align-items: center;
                .mark{
                    font-size: small;
                    color: #00000080;
                }
            }
        }
        .pop-extension{
            height: 70vh;
            iframe{
                width: 100%;
                height: 100%;
            }
            .back{
                position: absolute;
                left: 10px;
                top: 10px;
                font-size: 1.5em;
                color: #000;
            }
        }
    }
}



input[type="checkbox"] + label::before {
	content: '\a0';
 /* non-break space */
	display: inline-block;
	vertical-align: .2em;
	width: 1em;
	height: 1em;
	margin-right: .2em;
	border-radius: .2em;
	background: silver;
	text-indent: .15em;
	line-height: .65;
}
input[type="checkbox"]:checked + label::before {
	content: '\2713';
    background: rgb(19, 206, 102);
	/* background: yellowgreen; */
}
input[type="checkbox"] {
	position: absolute;
	clip: rect(0,0,0,0);
}
input[type="checkbox"]:focus + label::before {
	box-shadow: 0 0 .1em .1em #58a;
}

input[type="checkbox"]:disabled + label::before {
	background: gray;
	box-shadow: none;
	color: #555;
}

label{
    font-size: 16px;
    font-family: monospace;
    font-weight: bolder;
    display: inline-block;
    user-select: none;
}
@media only screen and (max-width: 800px) {
    #app {
        flex-direction: column;
    }
    #more-container .popup .pop-persona .explain > p{
        display: none;
    }
    #chat-container {
        max-width: 100%;
    }
}
@media only screen and (min-width: 1081px) {
    #chat-messages {
        padding: 20px 150px;
    }
}