<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meow-AI</title>
    <link rel="stylesheet" href="{[ url_for('static', filename='css/styles.css') ]}">
    <link rel="stylesheet" href="{[ url_for('static', filename='css/font-awesome.min.css') ]}">
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<body>
    <div id="app">
        <div id="chat-container" @click="hideContextMenuFun">
            <div id="chat-header">Meow-AI Chat<button @click="showMoreSetup=0" id="more-button"><i class="fa fa-bars"></i></button></div>
            <div id="chat-messages">
                <div class="message" v-for="(message, index) in messages" :key="index" :class="{ 'you': message.type === 'you', 'other': message.type === 'other' }" >
                    <span class="user">{{ users[message.type].name }}</span>
                    <img class="avatar" :src="users[message.type].avatar" >
                    <div class="content" v-show="!message.editMode" @contextmenu.prevent="showContextMenuFun(index,$event)">
                        <p v-for="(text, index) in cutParagraphs(message.content)" :key="index">{{text}}</p>
                    </div>
                    <div class="edit-mode" v-if="message.editMode">
                        <textarea @input="autoResize($event)" @focus="autoResize($event)"  v-model="message.editedContent"></textarea>
                        <div class="edit-mode-btn">
                            <button class="save" @click="confirmEdit(index)">确认&保存</button>
                            <button class="cancel" @click="cancelEdit(index)">取消</button>
                        </div>
                    </div>
                    <div class="context-menu" v-show="showContextMenu && contextMenuIndex == index" :style="{ top: contextMenuPosition.y + 'px', left: contextMenuPosition.x + 'px' }">
                        <div class="context-menu-item" @click="copyMessage(index)">复制</div>
                        <div v-show="!showStopButton" class="context-menu-item" @click="editMessage(index,$event)">编辑</div>
                        <div v-show="!showStopButton" class="context-menu-item" @click="deleteMessage(index)">删除</div>
                    </div>
                </div>
            </div>

            <div class="status-button">
                <button @click="stopReply" class="" v-show="showStopButton" id="stop-button"><i class="fa fa-stop"></i></button>
                <button @click="resetReply" class="" v-show="!showStopButton" id="reset-button"><i class="fa fa-refresh"></i></button>
            </div>
            <input v-model="currentMessage" :disabled="showStopButton" @keyup.enter="sendMessage" type="text" id="message-input" :placeholder="showStopButton?'等待回复中……':'请输入内容……'">
            <button @click="sendMessage" id="send-button" :class="{ 'disabled': showStopButton}">Send</button>
        </div>
        <div id="more-container" v-show="showMoreSetup!=-1"  @mouseup="isDragging = false">
            <div class="bg" @click="showMoreSetup=-1"></div>
            <div class="popup">
                <div class="pop-more" v-show="showMoreSetup==0">
                    <div class="btn user" @click="showMoreSetup=1"><i class="fa fa-user"></i>昵称</div>
                    <div class="btn persona" @click="showMoreSetup=2"><i class="fa fa-child"></i>人设</div>
                    <div class="btn download" @click="clickDownloadConfig"><i class="fa fa-download"></i>导出<a hidden ref="downloadConfig" href="">下载配置文件</a></div>
                    <div class="btn upload"  @click="clickUploadConfig"><i class="fa fa-upload"></i>导入<input hidden type="file" ref="uploadConfig" @change="changeUploadConfig()" accept=".json"></div>
                </div>
                <div class="pop-user" v-show="showMoreSetup==1">
                    <div class="user">
                        <div class="avatar"><label>头像</label><img @click="clickAvatarBox('you')" :src="users.you.avatar" alt=""><input hidden type="file" ref="youAvatarToUpload" @change="changeAvatarFile('you')" accept="image/x-png,image/gif,image/jpeg,image/bmp"></div>
                        <div class="name"><label>昵称</label><input class="input" v-model="users.you.name" type="text"></div>
                    </div>
                    <div class="user">
                        <div class="avatar"><label>MeowAI</label><img @click="clickAvatarBox('other')" :src="users.other.avatar" alt=""><input hidden type="file" ref="otherAvatarToUpload" @change="changeAvatarFile('other')" accept="image/x-png,image/gif,image/jpeg,image/bmp"></div>
                        <div class="name"><label>MeowAI</label><input class="input" v-model="users.other.name" type="text"></div>
                    </div>
                </div>
                <div class="pop-persona" v-show="showMoreSetup==2">
                    <div class="persona">
                        <span class="user">{{ users.other.name }}</span>
                        <img class="avatar" :src="users.other.avatar" >
                        <textarea class="content" @input="autoResize($event)" @focus="autoResize($event)"  v-model="persona"></textarea>
                    </div>
                    <div class="coordinate">
                        <div id="coordinate-bg">
                            <div class="l">钻牛角尖</div>
                            <div class="r">放飞自我</div>
                            <div class="x"><span>严谨</span><span>活泼</span></div>
                            <div class="y"><span>理性</span><span>感性</span></div>
                        </div>
                        <div id="coordinate-system" ref="coordinateSystem" @mouseup="setCharacter()" @mousemove="mousemoveCoordinate($event)">
                            <div id="draggable-point" ref="draggablePoint" @mousedown="isDragging = true" :style="{ top: coordinate.y + 'px', left: coordinate.x + 'px' }"></div>
                        </div>
                    </div>
                    <div class="explain">
                        <span><input type="checkbox" id="PC" v-model="coordinate.isPC" /><label for="PC">性格约束</label></span>
                        <p class="mark">为了防止回复出现混乱情况发生，建议开启！</p>
                        <p v-if="false">越偏向左边，回复越严谨，反之越活泼</p>
                        <p v-if="false">越偏向上边，回复越理性，反之越感性</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{[ url_for('static', filename='js/vue.global.js') ]}"></script>
    <script src="{[ url_for('static', filename='js/socket.io.min.js') ]}"></script>
    <script src="{[ url_for('static', filename='js/main.js') ]}"></script>
</body>
</html>
